@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout - Customer";
}
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Laptop bán chạy nhất</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">39.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/dress-shirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Swift 3 </h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.690.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop bán chạy nhất</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">39.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/dress-shirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Swift 3 </h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.690.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop bán chạy nhất</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">39.990.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/dress-shirt-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Swift 3 </h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">19.690.000 ₫</span></p>
                                    <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<div class="fashion_section">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Laptop dành cho sinh viên</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Aspire 3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">7.390.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate B3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">10.790.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/mobile-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Inspiron 15 3511</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">14.590.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/computer-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop dành cho sinh viên</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Aspire 3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">7.390.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate B3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">10.790.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/mobile-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Inspiron 15 3511</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">14.590.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/computer-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop dành cho sinh viên</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER Aspire 3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">7.390.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/laptop-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ACER TravelMate B3</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">10.790.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/mobile-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Dell Inspiron 15 3511</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">14.590.000 ₫</span></p>
                                    <div class="electronic_img"><img src="images/computer-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<div class="jewellery_section">
    <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Laptop Gaming</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14 Alan Walker Edition</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">48.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/jhumka-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">GIGABYTE Aorus 15P KD-72S1223GH</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">45.090.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/neklesh-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">LG Gram 2021 16Z90P G.AH75A5</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">47.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/kangan-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop Gaming</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14 Alan Walker Edition</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">48.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/jhumka-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">GIGABYTE Aorus 15P KD-72S1223GH</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">45.090.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/neklesh-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">LG Gram 2021 16Z90P G.AH75A5</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">47.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/kangan-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Laptop Gaming</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">ASUS ROG Zephyrus G14 Alan Walker Edition</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">48.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/jhumka-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">GIGABYTE Aorus 15P KD-72S1223GH</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">45.090.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/neklesh-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">LG Gram 2021 16Z90P G.AH75A5</h4>
                                    <p class="price_text">Giá  <span style="color: #262626;">47.990.000 ₫</span></p>
                                    <div class="jewellery_img"><img src="images/kangan-img.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Mua ngay</a></div>
                                        <div class="seemore_bt"><a href="#">Xem thêm</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <div class="loader_main">
            <div class="loader"></div>
        </div>
    </div>
</div>